%span{:class => "#{@search.page < 2 ? "disabled " : ""}prev_page"}
  %a{:href => "#{querystring_builder({"page"=>@search.page-1})}"}= "&laquo; Previous"
- if @search.page == 1
  %span.current 1
- else
  %a{:href => "#{querystring_builder({"page"=>1})}"} 1
- if @search.page == 2
  %span.current 2
- else
  %a{:href => "#{querystring_builder({"page"=>2})}"} 2
- if @search.page < 9
  - if @search.last_page < 11
    - last = @search.last_page
  - else
    - last = 9
  - (3..last).to_a.each do |i|
    - if i <= @search.last_page
      - if @search.page == i
        %span.current= i
      - else
        %a{:href => "#{querystring_builder({"page"=>i})}"}= i
  - if @search.last_page > 9
    - if @search.last_page > 11
      ="..."
    %a{:href => "#{querystring_builder({"page"=>@search.last_page-1})}"}= @search.last_page-1
    %a{:href => "#{querystring_builder({"page"=>@search.last_page})}"}= @search.last_page
- else
  ="..."
  - if @search.page < @search.last_page - 7
    - (@search.page-4..@search.page+4).to_a.each do |i|
      - if i <= @search.last_page
        - if @search.page == i
          %span.current= i
        - else
          %a{:href => "#{querystring_builder({"page"=>i})}"}= i
    ="..."
    %a{:href => "#{querystring_builder({"page"=>@search.last_page-1})}"}= @search.last_page-1
    %a{:href => "#{querystring_builder({"page"=>@search.last_page})}"}= @search.last_page
  - else
    - (@search.last_page-8..@search.last_page).to_a.each do |i|
      - if @search.page == i
        %span.current= i
      - else
        %a{:href => "#{querystring_builder({"page"=>i})}"}= i
%span{:class => "#{@search.page >= @search.last_page ? "disabled ": ""}next_page"}
  %a{:href => "#{querystring_builder({"page"=>@search.page+1})}"}= "Next &raquo;"