%div#speaker-matches
  Search for speeches by:
  - people.each do |person|
    -if person == people.last
      %a.speaker-match{:href => "#{request.host}/people/#{person.slug}"}= "#{person.honorific} #{person.name}"
    -else
      =succeed ", " do
        %a.speaker-match{:href => "#{request.host}/people/#{person.slug}"}= "#{person.honorific} #{person.name}"