!!! 5
%html{:lang => "en-GB"}
  %head
    %meta{:charset => "utf-8"}
    %title
      &=@page_title || "Search"
      (Hansard)
    %link{:href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :title => "Default", :type => "text/css"}
    %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  %body#hansard-millbanksystems-com
    %div#header
      %div.search-help
        %a{:href => "#{PARENT_URL}/search"} Search Help
      %form{:action => "#{settings.search_redir}/", :id => "search", :method => "post", :rel => "search"}
        %input{:size => "24", :title => "Access key: S", :accesskey => "s", :name => "query", :id => "search-query", :type => "search", :placeholder => "Search Hansard", :autosave => "hansard.millbanksystems.com", :results => "10", :value => params[:query].gsub("%2B", "+")}
        %input{:type => "submit", :value => "Search"}
      %div#nav
        %a{:href => "#{PARENT_URL}/", :id => "home", :rel => "home"} HANSARD 1803&ndash;2005
      %h1.title&= @page_title || "Search"
    %div.page{:id => "content"}
      =yield
    %div#footer
      %p
        %a{:href => "#{PARENT_URL}/typos"} Noticed a typo?
        |
        %a{:href => "https://spreadsheets.google.com/viewform?key=p_zCPmAX1qx1llDkHKzRlNQ", :target => "_BLANK", :title => "Opens a new page"} Report other issues
        |
        %a#copyright{:href => "http://www.parliament.uk/site_information/parliamentary_copyright.cfm", :rel => "copyright"} &copy; UK Parliament
      <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type='text/javascript'>
      var pageTracker = _gat._getTracker("UA-3110135-1");
      pageTracker._initData();
      pageTracker._trackPageview();
      </script>