- if @search.results
  - if @search.speaker_matches and !@search.speaker_matches.empty? and params[:speaker] == nil
    =haml(:"_people", :locals => {:people => @search.speaker_matches})
  -if @timeline
    =haml(:"timeline/_timeline", :locals => {:timeline => @timeline})
  - unless @filters.nil? or @filters.empty?
    =haml(:"_filters")
  - if @search.date_match
    %div#sitting-date-matches
      Jump to: 
      %a{:href => "#{PARENT_URL}/sittings/#{@search.date_match[:year]}/#{@search.date_match[:month]}/#{@search.date_match[:day]}"}= "Sitting of #{@search.date_match[:day]} #{@search.date_match[:month].capitalize} #{@search.date_match[:year]}"

  - if @search.any_facets?
    - @query = @search.query
    - if @search.display_speaker_facets.size > 1
      %ol#by-member-facet
        Show only contributions by: 
        - @search.display_speaker_facets.each do |speaker, times|
          %li
            %a{:href => "#{querystring_builder({"speaker" => speaker.slug})}"}= "#{speaker.honorific} #{speaker.name} (#{times})"
  
  - unless @search.filters.empty?
    Showing only:
    - @search.filters.each do |filter|
      %span.filter
        -filter_text, filter_param = show_filter(filter, @search)
        =filter_text
        %a{:href => "#{querystring_builder({filter_param => nil})}"} &times;

  - if @search.results_size < 1
    =haml(:"_no_results")
  - else
    %div#search-results
      %div#sort-links
        - if params[:sort] == "reverse_date"
          Sort by MOST RECENT
        - else
          %a{:href=>"#{querystring_builder({"sort"=>"reverse_date"})}"} Sort by MOST RECENT
        |
        - if params[:sort] == "date"
          Sort by EARLIEST
        - else
          %a{:href=>"#{querystring_builder({"sort"=>"date"})}"} Sort by EARLIEST
        |
        - unless params[:sort]
          Sort by MOST RELEVANT
        - else
          %a{:href=>"#{querystring_builder({"sort"=>nil})}"} Sort by MOST RELEVANT
      %h3#results-header
        - if @search.results_size < 11
          - if @search.results_size == 1
            1 result
          - else
            = "#{@search.results_size} results"
        - else
          = "Results #{@search.first_result} to #{@search.last_result} of #{@search.results_size}"
            
    - @search.results.each do |result_line|
      =haml(:"_result", :locals => {:result => result_line, :highlight => @search.highlights[result_line.id].join(" ")}, :layout => false)
      
    -if @search.results_size > @search.num_per_page
      %div.pagination
        %div.pagination
          =haml(:"_pagination")